[experiment]
colors = COLORS
composition = COMPOSITION
compositionLabels = COMP_LABELS
environmentSize =  ENVIRONMENT_SIZE
noiseStandardDeviationValue = STANDARD_DEVIATION_VALUE
numberOfAgents = NUM_AGENT
numberOfSimulation = NUM_SIMULATION
numberOfOpinion = NUM_OP
numberOfStartingPoint = NUM_START_P
numberOfSteps = NUM_STEP
numberOfTotems = NUM_TOTEM
totemsAppearanceTimes = TOTEMS_APPEARANCE_TIMES
totemsDisappearanceTimes = TOTEMS_DISAPPEARANCE_TIMES
qualityChangeTime = QUALITY_CHANGE_TIME
overlappingTotems = OVERLAPPING_TOTEMS
quorum = QUORUM
seed = SEED
startingPoint = STARTING_POINT

#[behaviour]

[model_update]

discoveryMethod = DISCOVERY_METHOD
probabilisticDiscoveryProportion=PROBABILISTIC_DISCOVERY_PROPORTION
kUnanimityParameter = K_UNANIMITY_PARAMETER
maxQuality = MAX_QUALITY
qualityValues = QUALITY_VALUES
qualityValuesAfterChange = QUALITYVALUES_AFTER_CHANGE
updateModel = UPDATE_MODEL
updateRule = UPDATE_RULE
zealotOpinion = ZEALOT_OPINION
zealotQuality = ZEALOT_QUALITY

[msg]

msgType = MSG_TYPE
sendConstant = SEND_CONSTANT_INTERVAL
sendInfoMethod = SEND_METHOD

[movement]

moveDimension = MOVE_DIMENSION
straightLength = STRAIGHT_LENGTH

[agent_totem_characteristics]

agentRadius = AGENT_RADIUS
startWithOpinion = START_WITH_OPINION
startWithGivenOpinion = START_WITH_GIVEN_OPINION
totemRadius = TOTEM_RADIUS
firstEntryOnlyDiscovery = FIRST_ENTRY_ONLY_DISC

[decay]

decayMethod = DECAY_METHOD
decayStrength = DECAY_STRENGTH

[interaction]

interactionFunction = INTERACTION_FUNCTION
preStepSocialStrength = PRE_STEP_SOCIAL_STRENGTH
postStepSocialStrength = POST_STEP_SOCIAL_STRENGTH
preStepSelfStrength = PRE_STEP_SELF_STRENGTH
postStepSelfStrength = POST_STEP_SELF_STRENGTH
initialTimeValue = INITIAL_TIME_VALUE
interactiveProb = INTERACTIVE_PROBABILITY
filterMsgParam = FILTER_MSG_PARAM

[log_files]

colorsFile = COLOURS_FILE
finalResultFileName = FINAL_RESULT_FILENAME
resultFolderPath = RESULT_FOLDER_PATH
statisticsFileName = STATISTICS_FILENAME
testName = TEST_NAME

[graphic_plot]

animationInterval = ANIMATION_INTERVAL
graphSimulation = GRAPH_SIMULATION
plot = PLOT
