[experiment]
colors = [gray,red,blue,green,yellow,violet,darkorange,navy,peru,turquoise,olive,cadetblue,indigo]
composition = [1]
compositionLabels = [CI]
environmentSize =  1
noiseStandardDeviationValue = 0.01
numberOfAgents = 100
numberOfSimulation = 1
numberOfOpinion = 3
numberOfStartingPoint = 1
numberOfSteps = 60000
numberOfTotems = [1]
totemsAppearanceTimes = [10000,0]
totemsDisappearanceTimes = [0]
qualityChangeTime = 0
overlappingTotems = false
quorum = 0
seed = 7778
startingPoint = false

#[behaviour]

[model_update]

discoveryMethod = [probabilistic]
probabilisticDiscoveryProportion=[resample]
kUnanimityParameter = 2
maxQuality = 1
qualityValues = [0.8,0.7,0.1]
qualityValuesAfterChange = [7.2,9,3.6]
updateModel = [direct]
updateRule = [random]
zealotOpinion = 0
zealotQuality = 0.5

[msg]

msgType = simple
sendConstant = 1
sendInfoMethod = [wv]

[movement]

moveDimension = 0.005
straightLength = 20

[agent_totem_characteristics]

agentRadius = 0.05
startWithOpinion = false
totemRadius = 0.2
firstEntryOnlyDiscovery = true

[decay]

decayMethod = [constant]
decayStrength = [0]

[interaction]

interactionFunction = [constant]
preStepSocialStrength = [1]
postStepSocialStrength = [1]
preStepSelfStrength = [0.01]
postStepSelfStrength = [1]
initialTimeValue = 400
interactiveProb = 1
filterMsgParam = [0]

[log_files]

colorsFile = [0,R,B,G,Y,V,D,N,P,T,O,C,I]
finalResultFileName = null
resultFolderPath = ./
statisticsFileName = statistics.txt
testName = DYNAMIC_ENV

[graphic_plot]

animationInterval = 50
graphSimulation = false
plot = false
